<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload Page</title>
</head>
<body>
    <h1>File Upload Page</h1>
    <p>Datasets accepted in .zip compressed format only. Uploaded datasets are unzipped, stored in the server storage and registered in the database.</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form}}
        <p><button type="submit">Upload File</button></p>
    </form>
    {% if display_output %}
        <p>Upload output:</p>
        <p>{{display_content}}</p>
    {% endif %}
</body>
</html>
